 body{
    height: 100%;
    width: 100%;
}


.bg-color-left-div{
    background-image: url("../images/bg-pattern-desktop.svg");
    width: 60%;
    height: 100%;
    background-size: cover;
    text-justify: auto;
    text-space: 0;
}

.bg-color-right-div{
    margin-right: 0;
    width: 40%;
    height: 100%;
}


container{
    display: flex;
    flex-direction: column;;
    margin: 0;
}

.logo-format{
    color: hsl(0, 36%, 70%);
    font-weight: 300;
    font-size: 100px;
    font-stretch: expanded;
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: 15%;
    text-align: left;
    letter-spacing: 8px;
    text-space: 0;
}

.Were-color {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
    font-size: 100px;
    font-stretch: expanded;
    margin: 0 15%;
    font-family: Josefin Sans, sans-serif, Serif;
    text-align: left;
    letter-spacing: 8px;
    text-space: 0;
}
.coming-soon_color {
    color: hsl(0, 6%, 24%);
    font-weight: 600;
    font-size: 100px;
    font-family: Josefin Sans, sans-serif, Serif;
    text-align: left;
    margin: 0 15%;
    letter-spacing: 8px;
    text-space: 0;
}

p{
    color: hsl(0, 36%, 70%);
    text-align: left;
    margin-left: 15%;
    margin-right: 10%;
    letter-spacing: 2px;


}

body{
    font-family: Josefin Sans, sans-serif, Serif;

}



input{
    border-radius: 3.8rem;
    color: hsl(0, 36%, 70%);
    text-align: left;
    padding: 1rem;
    border: solid 1px hsl(0, 36%, 70%);
    width: 30rem;
    outline: none;
    
}

form{
    position: relative;
    margin: 5% 15%;
}

button{
   background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 3.8rem;
    text-align: center;
    border: none;
    padding: 1rem;
    width: 6rem;
    height: 4rem;
    position: absolute;
    outline: none;
    box-shadow: 2px 5px 10px hsl(0, 36%, 70%);
    top: 0;
    right: 0;
    margin-right:30%;

}

button:hover{
    zoom: initial;
}






